spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cn_idiom_chain?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  application:
    name: cn-idiom-chain

server:
  port: 8080
  servlet:
    context-path: /api